.wrapper-show {
  position: relative;
  margin: 50px auto;
  padding: 50px;
  background-color: $light-grey;
  width: 80%;

  @media (max-width: 650px) {
    margin: 10px auto;
    padding: 15px;
    width: 95%
  }

  border-radius: 40px;
  box-shadow: 1px 1px 1px #AFB599;
  @media (max-width: 900px) {
    h3 {
      font-size: 20px;
    }
    font-size: 13px;
  }
}

.dose-display {
  width: 95%;
  @media (max-width: 900px) {
    width: 100%
  }
  margin: auto;
  box-shadow: 1px 1px 1px #DCDCDC;
}

.wrapper-edit-link {
  position: absolute;
  right: 30px;
  top: 30px;
  @media (max-width: 900px) {
    right: 20px;
    top: 20px;
  }
}

.show-lg {
  h3 {
    margin-top: 0;
  }
}
