<form action="/cocktails/search" class="form-inline">
  <input type="text" placeholder="Search something" name="query" class="form-control">
  <button type="submit" class="form-control btn-search">
    <i class="fa fa-search"></i>
  </button>
</form>

