
.wrapper-btn-large {
  height: 90px;
  background-color: black;
  width:300px;
  transition: 0.4s ease;
  margin: auto;
  border-radius: 4px;
  line-height: 90px;
  opacity:0.6;
  @media (max-width: 800px) {
    height: 60px;
    line-height: 60px;
    width:230px;
  }

  .btn-large {
    margin-top: 10px;
    padding: 20px 30px;
    font-size: 28px;
    @media (max-width: 800px) {
      font-size: 22px;
    }

    transition: 0.2s ease;
    color: white;
    vertical-align: middle;
  }

  &:hover {
    opacity:0.8;
    & .btn-large{
      font-size: 30px;
      text-shadow: 0.5px -0.5px 1px $very-light-grey;
      @media (max-width: 800px) {
        font-size: 24px;
      }
    }
  }
}



.form-control.btn-search {
  min-width: 0;
  background-color: black;
  padding: 10px 10px;
  color: white;
  vertical-align: center;
}
