form {
  width: 95%;
  margin: auto;
}

.wrapper-show {
  margin: 50px auto;
  padding: 50px;
  background-color: $light-grey;
  width: 65%;
  border-radius: 40px;
  box-shadow: 1px 1px 1px #AFB599;
}

.dose-display {
  width: 95%;
  margin: auto;
  box-shadow: 1px 1px 1px #DCDCDC;
}

.form-inline-button {
  margin-top: 25px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: visible;
  outline:none;
  }


.fa.fa-plus {
  position: absolute;
  top: 15px;
  left: 15px;
}
