form {
  width: 95%;
  @media (max-width: 900px) {
    width: 100%
  }
  margin: auto;

  .form-control {
    min-width: 80px;
    max-width: 600px;
  }
  padding-bottom: 70px;

}


#new_dose {
  width: 100%;
  margin: 0 -15px;

  .form-input-new-dose {
    opacity: 0.7;
    border-radius: 5px;
    border: none;
    background-color: white;
  }
}

.form-inline-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: visible;
  outline:none;
}


.fa.fa-plus {
  position: absolute;
  top: 15px;
  left: 15px;
}

